// variables
@use "../utilities/variables" as *;

// mixin
@use "../utilities/mixin" as *;

/* TABLET */
@media (min-width: 769px) and (max-width: 1024px){

    main{
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }

    .textos{
        max-width: 80%;
        text-align: center;
    }

    .imagen{
        width: 100%;
    }

    .imagen img{
        max-width: 280px;
    }

    /* NAVBAR */
    .navbar-brand{
        font-size: 1.2rem;
    }

    .nav-link{
        font-size: 0.95rem;
    }
}