// variables

$color-bg: linear-gradient(to bottom, #4E2394, #DBC9F5);
$color-texto:#4E2394;
$color-bg-card: white;
$color-body: #333;
$primary: #4E2394;
$secondary: #6c757d;
$text-dark: #212529;
$color-bg-card: #ffffff;

